.mainDiv{
    /* border: 2px solid; */
    margin-top: 8vh;
    margin-left: 20vw;
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subdiv{
    margin: auto;
}

@media screen and (max-width: 800px) {
    .mainDiv{
        /* border: 2px solid; */
        margin-top: 8vh;
        margin-left: 10vw;
        width: 98vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

