.mainDiv{
    /* border: 2px solid; */
    margin-top: 4rem;
    margin-left: 20vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subdiv{
    margin: auto;
}


