.navbar{
    position: fixed;
    margin-top: 0rem;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
    /* padding: 0rem 10rem; */
    background-color: #010035;
}

.svg{
    width: 1.7rem;
    height: 1.7rem;
    color: white;
    padding: 1rem;
}

.svg:hover{
    scale: 1.1;
}